footer{
    
    width: 100%;
    background-color: rgb(0, 0, 0);
    height:285px;
    position: relative;

}

#container{
    padding-top: 2px;
    display: flex;

}
.footer-content{
    display: grid;
    color: aliceblue;
    margin-right: 170px;
    margin-left: 20px;
    gap: 0;
}